@page
@model BuyLocal.DetailsModel
@{
    ViewData["Title"] = "Details";
}


<div class="row">

    <div class="col-lg-3">

        <h3 class="my-4">Welcome @Model.Username</h3>
        <div class="list-group" id="categoryList">
            <a href="#" class="list-group-item">Category 1</a>
            <a href="#" class="list-group-item">Category 2</a>
            <a href="#" class="list-group-item">Category 3</a>
        </div>

    </div>
    <!-- /.col-lg-3 -->

    <div class="col-lg-9">


        <div class="row my-4">

            <div class="card h-100">
                <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="#">Item One</a>
                    </h4>
                    <h5>$24.99</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                    <div class="float-right"><i class="fa fa-eye"></i> <label id="viewersCount">9</label></div>
                </div>
            </div>

        </div>
        <!-- /.row -->

    </div>
    <!-- /.col-lg-9 -->

</div>
<!-- /.row -->
@section Scripts {
        
    <script src="~/js/product.js"></script>
    <script>
        $(document).ready(function () {
            connection.on("ReceiveMessage", function (message) {
                //show notification
                $.notify(message, { className: 'info', globalPosition: 'right bottom' });
            });

            //send notification
            $(window).on('load', function () {

                var groupName = '@Model.ProductID';
                //connection.invoke("AddToGroup", groupName).catch(err => console.error(err));

                var message = '1 person is watching this product.';
                
                connection.invoke("SendMessage", groupName, message).catch(err => console.error(err));
            });
        });
    </script>
}