@page
@model BuyLocal.Pages.Consumers.IndexModel
@{
    ViewData["Title"] = "Farmer";
}

<h1>Welcome @Model.Username</h1>


@section Scripts {

    <script src="~/js/activity.js"></script>
    <script>
        $(document).ready(function () {
            $(window).on('load', function () {
                var username = '@Model.Username';
                var message = "";
                connectionActivityHubProxy.invoke("sendMessage2", username, message).catch(err => console.error(err));
            });


        });
    </script>
}